html, body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto Condensed",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;

  background: #e4edf2;
  color: #555;
}

a { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { line-height: 1.1; }
